.footer {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: 1px solid #dfdfdf;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.socialGroup {
    display: flex;
    flex-direction: row;
}
.socialGroup > * {
    margin-left: 1.35rem;
    margin-right: 1.35rem;
}

.legalGroup {
    display: flex;
    flex-direction: row;
    padding: 32px 20px;
}
.legalGroup > * {
    margin-left: .9rem;
    margin-right: .9rem;
}

.copyright {
    font-size: .875rem;
    color: var(--buf-footer-color);
    font-family: var(--buf-sans-font);
}

.socialLink {
    transition: color .2s ease-in-out,opacity .2s ease-in-out,background-size .2s ease-in-out,background .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,width .2s ease-in-out,height .2s ease-in-out;
    transition-property: color, opacity, background-size, background, background-color, border-color, width, height;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s, 0s;
}
.socialLink:hover {
    opacity: .75;
}

.legalLink {
    text-transform: uppercase;
    color: var(--buf-footer-color);
    font-size: .8125rem;
    letter-spacing: 1px;
    font-family: var(--buf-mono-font);
    background-image: linear-gradient( 0deg, currentColor 1px,transparent 0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    padding-bottom: .125rem;
    text-decoration: none;
    transition: background-size .4s ease-in-out,opacity .4s ease-in-out;
}
.legalLink:hover {
    text-decoration: none;
    background-size: 100% 100%;
    color: var(--buf-footer-color);
}


@media (min-width: 1200px) {
    .container {
        flex-direction: row;
        max-width: 1140px;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .socialGroup {
    }
    .legalGroup {
        position: absolute;
        left: 0;
        padding: 0;
    }
    .copyright {
        position: absolute;
        right: 0;
    }
}
